@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0566fV.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xGITFB7xD.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xNIPFB7xD.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xUILFB7xD.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xTIHFB7xD.ttf) format('truetype');
}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */